<!-- Modal -->


<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">{{ 'USERS.MODALS.DIVISIONS.TITLE' | translate}}</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" tabindex="0">
    <div class="row">
        <div class="col-4">
            <form action="#">
                <label>Email: </label>
                <div class="form-group">
                    <input type="text" placeholder="Email Address" class="form-control"/>
                </div>
                <label>Password: </label>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control"/>
                </div>
            </form>
        </div>
        <div class="col-8">
            <ul>
                <ng-template
                        ngFor
                        let-division
                        let-i="index"
                        [ngForOf]="divisionsList"
                >

                    <li>({{i}}) {{division.name}} {{division | usersCount}} </li>
                </ng-template>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Accept click')" rippleEffect>
        Login
    </button>
</div>
<!-- / Modal -->
